.sidebar {
  padding: 10px;
}

.sidebar .sidebar-btn {
  margin-top: 10px;
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--first-color);
  width: 140px;
  transition: box-shadow 0.4s;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.sidebar .sidebar-btn:hover {
  box-shadow: 0 4px 32px var(--first-color);
}
