/* Book List */
.section-p3 {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top);
}
.section-p3 .section-p3-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section-p3 .section-p3-container h2 {
  font-size: 25px;
  color: var(--black);
  font-weight: bold;
}
.section-p3 .section-p3-container h3 {
  margin-top: 10px;
  color: var(--orange);
}
.section-p3 .section-p3-container h3:hover {
  color: var(--blue);
}
.section-p3 .section1-p3-container {
  display: flex;
}
.section-p3 .section1-p3-container .p3-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}

.section-p3 .section1-p3-container .p3-container .p3-list {
  display: flex;
  margin-top: var(--margin-top-font);
}
.section-p3 .section1-p3-container .p3-container .p3-list li {
  margin-right: 18px;
  position: relative;
  transition: 0.4s;
}
.section-p3 .section1-p3-container .p3-container .p3-list li::before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
  width: 60%;
  transition: 0.3s;
}
.section-p3 .section1-p3-container .p3-container .p3-list li h3 {
  color: var(--light-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.section-p3 .section1-p3-container .p3-container .p3-list li:hover h3 {
  color: var(--blue);
}

.books-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.books-container .books {
  max-width: var(--width-home);
  width: 100%;
}

.books-container .books .books-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.books-container .books .books-box .books-card {
  position: relative;
  height: 450px;
  text-align: center;
  padding: 10px;
  margin-top: 16px;
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.books-container .books .books-box .books-card:hover .ListIcon {
  display: inline-flex !important;
}
/*  */
.books-container .books .books-box .books-card:hover {
  transition: 0.1s ease;
  box-shadow: 0 0 10px var(--blue);
}
.books-container .books .books-box .books-card .books-img {
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 0 8px var(--black);
  overflow: hidden;
}
.books-container .books .books-box .books-card .books-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}
.books-container .books .books-box .books-card:hover .books-img img {
  transform: scale(1.1);
}
.books-container .books .books-box .books-card .books-tag h2 {
  margin: 12px;
  color: var(--black);
  font-weight: bold;
}
.books-container .books .books-box .books-card .books-tag .Listwriter {
  color: var(--light-color);
}

.books-container .books .books-box .books-card .books-tag .Listcategories {
  color: var(--light-blue);
  margin-top: 8px;
}
.books-container .books .books-box .books-card .books-tag .Listbook-price {
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--black);
}
.books-container .books .books-box .books-card .books-tag .Listbook-price sub {
  font-weight: 100;
  padding: 0 5px;
  color: var(--black);
}
.books-container .books .books-box .books-card .books-tag .Listcart-btn {
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 4px 10px;
  border: 3px solid var(--blue);
  border-radius: 5px;
  position: relative;
  color: var(--blue);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.books-container
  .books
  .books-box
  .books-card
  .books-tag
  .Listcart-btn::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--blue);
  z-index: -1;
}
.books-container .books .books-box .books-card .books-tag .Listcart-btn:hover,
.cart-btn:focus {
  color: var(--white);
}
.books-container
  .books
  .books-box
  .books-card
  .books-tag
  .Listcart-btn:hover::before,
.Listcart-btn:focus::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.books-container .books .books-box .books-card .books-tag .Listcart-btn:active {
  transform: scale(0.9);
}
.books-container .books .books-box .books-card .books-tag .ListIcon {
  color: var(--black);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}
.books-container .books .books-box .books-card .books-tag .ListIcon i {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* End Book List */
