:root {
  --width-home: 1400px;
  --margin-top: 100px;
  --margin-top-font: 15px;
}
/* Book List */
.section-p3-view {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top);
}
.section-p3-view .section-p3-container-view {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}
.section-p3-view .section-p3-container-view .icon-arrow3-view {
  display: flex;
  margin-top: 2px;
  font-size: 35px;
  color: var(--black);
}
.section-p3-view .section-p3-container-view .icon-arrow3-view h2 {
  font-size: 25px;
  color: var(--black);
  font-weight: bold;
  font-style: normal;
}
.section-p3-view .section1-p3-container-view {
  display: flex;
}
.section-p3-view .section1-p3-container-view .p3-container-view {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}

.section-p3-view .section1-p3-container-view .p3-container-view .p3-list-view {
  display: flex;
  margin-top: var(--margin-top-font);
}
.section-p3-view
  .section1-p3-container-view
  .p3-container-view
  .p3-list-view
  li {
  margin-right: 18px;
  position: relative;
  transition: 0.4s;
}
.section-p3-view
  .section1-p3-container-view
  .p3-container-view
  .p3-list-view
  li::before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.section-p3-view
  .section1-p3-container-view
  .p3-container-view
  .p3-list-view
  li:hover::before {
  width: 60%;
  transition: 0.3s;
}
.section-p3-view
  .section1-p3-container-view
  .p3-container-view
  .p3-list-view
  li
  h3 {
  color: var(--light-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.section-p3-view
  .section1-p3-container-view
  .p3-container-view
  .p3-list-view
  li:hover
  h3 {
  color: var(--blue);
}

.books-container-view {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.books-container-view .books-view {
  max-width: var(--width-home);
  width: 100%;
}

.books-container-view .books-view .books-box-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.books-container-view .books-view .books-box-view .books-card-view {
  position: relative;
  height: 450px;
  text-align: center;
  padding: 10px;
  margin-top: 16px;
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view:hover
  .ListIcon-view {
  display: inline-flex !important;
}
.books-container-view .books-view .books-box-view .books-card-view:hover {
  transition: 0.1s ease;
  box-shadow: 0 0 10px var(--blue);
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-img-view {
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 0 8px var(--black);
  overflow: hidden;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-img-view
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view:hover
  .books-img-view
  img {
  transform: scale(1.1);
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  h2 {
  margin: 12px;
  color: var(--black);
  font-weight: bold;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listwriter-view {
  color: var(--light-color);
}

.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listcategories-view {
  color: var(--light-blue);
  margin-top: 8px;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listbook-price-view {
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--black);
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listbook-price-view
  sub {
  font-weight: 100;
  padding: 0 5px;
  color: var(--black);
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listcart-btn-view {
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 4px 10px;
  border: 3px solid var(--blue);
  border-radius: 5px;
  position: relative;
  color: var(--blue);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listcart-btn-view::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--blue);
  z-index: -1;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listcart-btn-view:hover,
.Listcart-btn-view:focus {
  color: var(--white);
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listcart-btn-view:hover::before,
.Listcart-btn-view:focus::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .Listcart-btn-view:active {
  transform: scale(0.9);
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .ListIcon-view {
  color: var(--black);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}
.books-container-view
  .books-view
  .books-box-view
  .books-card-view
  .books-tag-view
  .ListIcon-view
  i {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
