/* Start */
/* Header */
.section-books {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top);
}

.section-books .section-books-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}
/* End */

@media only screen and (min-width: 768px) {
  .section-books .section-books-container {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-books .section-books-container {
    max-width: 1000px;
  }
}
