.section-books {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-view);
}

.section-books .section-books-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}

.section-books .section-books-container .page-link {
  display: inline-block;
}

.section-books .section-books-container .page-link li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-books .section-books-container .page-link li a {
  color: var(--title-color);
}

.section-books .section-books-container .page-link li + li {
  margin-left: 10px;
}

.section-books .section-books-container .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

.section-books .section-books-container .page-link li a:hover {
  color: var(--first-color);
}

/* Body */
.section-books .books-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-books .books-container .books {
  display: flex;
  max-width: var(--width-home);
  width: 100%;
}

/* Filter */
.section-books .books-container .books .books-left {
  width: 25%;
  margin: 16px 10px 0px 0px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background: var(--card-color);
  height: 500px;
}

/* Card */
.section-books .books-container .books .books-right {
  width: 75%;
}

.section-books .books-container .books .books-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-books {
    margin-top: 35px;
  }
  .section-books .section-books-container {
    max-width: 300px;
  }
  .section-books .books-container .books {
    max-width: 300px;
    flex-direction: column;
  }
  .section-books .books-container .books .books-left {
    width: 100%;
  }
  .section-books .books-container .books .books-right {
    width: 100%;
    margin-top: 20px;
  }
  .section-books .books-container .books .books-box {
    grid-template-columns: 1fr;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-books {
    margin-top: 35px;
  }
  .section-books .section-books-container {
    max-width: 500px;
  }
  .section-books .books-container .books {
    max-width: 500px;
    flex-direction: column;
  }
  .section-books .books-container .books .books-left {
    width: 100%;
  }
  .section-books .books-container .books .books-right {
    width: 100%;
    margin-top: 20px;
  }
  .section-books .books-container .books .books-box {
    grid-template-columns: 1fr;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-books {
    margin-top: 35px;
  }
  .section-books .section-books-container {
    max-width: 700px;
  }
  .section-books .books-container .books {
    max-width: 700px;
    flex-direction: column;
  }
  .section-books .books-container .books .books-left {
    width: 50%;
  }
  .section-books .books-container .books .books-right {
    width: 100%;
    margin-top: 20px;
  }
  .section-books .books-container .books .books-box {
    grid-template-columns: 1fr 1fr;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-books {
    margin-top: 35px;
  }
  .section-books .section-books-container {
    max-width: 900px;
  }
  .section-books .books-container .books {
    max-width: 900px;
    flex-direction: column;
  }
  .section-books .books-container .books .books-left {
    width: 50%;
  }
  .section-books .books-container .books .books-right {
    width: 100%;
    margin-top: 20px;
  }
  .section-books .books-container .books .books-box {
    grid-template-columns: 1fr 1fr;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-books .section-books-container {
    max-width: 1200px;
  }
  .section-books .books-container .books {
    max-width: 1200px;
  }
}
