/* New Novel */
/* Header */
.section-books {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top);
}
.section-books .section-books-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}
.section-books .section-books-container h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: var(--title-color);
  font-weight: bold;
  font-style: normal;
}
/* Body */
.section-books .books-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-books .books-container .books {
  max-width: var(--width-home);
  width: 100%;
}
/* Card */
.section-books .books-container .books .books-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.section-books .books-container .books .books-box .books-card {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 16px;
  background-color: var(--card-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card:hover
  .books-tag
  .Icon-Container {
  display: inline-flex !important;
}

.section-books .books-container .books .books-box .books-card:hover {
  border-color: var(--first-color);
  transition: 0.1s ease;
}
/* Image */
.section-books .books-container .books .books-box .books-card .books-image {
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 0 8px var(--title-color);
  overflow: hidden;
}

.section-books .books-container .books .books-box .books-card .books-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.section-books
  .books-container
  .books
  .books-box
  .books-card:hover
  .books-image
  img {
  transform: scale(1.1);
}
/* Tag */
.section-books .books-container .books .books-box .books-card h2 {
  margin: 12px 0px 12px 0px;
  color: var(--title-color);
  font-weight: bold;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-writer {
  color: var(--text-color);
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-categories {
  color: var(--second-color);
  margin-top: 8px;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-price {
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--title-color);
  font-weight: bold;
}
/* Button Cart */
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-cart-btn {
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 5px 5px;
  border: 3px solid var(--first-color);
  border-radius: 5px;
  position: relative;
  color: var(--first-color);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-cart-btn
  i {
  font-size: 12px;
  position: absolute;
  top: 48.5%;
  left: 15%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-cart-btn
  p {
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
  transition: 0.25s;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-cart-btn:hover {
  cursor: pointer;
  background: var(--first-color);
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-cart-btn:hover
  i {
  left: 50%;
  color: var(--white-color);
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .books-cart-btn:hover
  p {
  clip-path: circle(0px at 125px 27.5px);
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .Icon-Container {
  color: var(--first-color);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .Icon-Container
  i {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* Icon heart */
.section-books
  .books-container
  .books
  .books-box
  .books-card
  .books-tag
  .Icon-Container
  .HeartIcon.active {
  fill: red;
}
/* End Novel */
