/* Footer */
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: var(--margin-top);
  padding: 20px;
  padding: 20px;
  background: var(--BG);
}
.footer .footer-main {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer .footer-main .tag {
  flex: 1 1 20%;
  margin: 0px 25px;
}
.footer .footer-main .tag .logo-footer {
  cursor: pointer;
  font-size: 45px;
  color: var(--first-color);
  margin-bottom: 10px;
}
.footer .footer-main .tag p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.footer .footer-main .tag h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: bold;
}

.footer .footer-main .tag a {
  display: block;
  display: flex;
  margin-bottom: 5px;
  color: var(--text-color);
  text-decoration: none;
}

.footer .footer-main .tag a:hover i {
  padding-right: 1.5rem;
  transition: 0.4s;
}
.footer .footer-main .tag a i {
  color: var(--first-color);
  padding-right: 0.5rem;
  margin-top: 5px;
}

.footer .footer_main .tag .searchBar {
  width: 230px;
  height: 30px;
  background: var(--card-color);
  border-radius: 25px;
}
.footer .footer-main .tag .searchBar input {
  padding: 8px;
  border: 1px solid var(--first-color);
  border-radius: 10px;
  color: var(--text-color);
}
.footer .footer-main .tag .searchBar button {
  padding: 7px 15px;
  background: var(--first-color);
  border: none;
  margin-top: 15px;
  border-radius: 10px;
  color: var(--white-color);
  cursor: pointer;
}
.footer .footer-main .tag .searchBar input:hover {
  border-color: var(--first-color);
  box-shadow: 0 0 5px var(--first-color);
}

.footer .footer-main .tag .searchBar button {
  padding: 7px 15px;
  background: var(--first-color);
  border: none;
  margin-top: 15px;
  border-radius: 25px;
  color: var(--white-color);
  cursor: pointer;
}
.footer .footer-main .tag .searchBar button:hover {
  border-color: var(--first-color);
  box-shadow: 0 0 5px var(--first-color);
}
/* Start icon social */
.footer .wrapper-container {
  margin-top: var(--margin-top);
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}
.footer .wrapper-container .wrapper {
  display: inline-flex;
}
.footer .wrapper-container .wrapper .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper-container .wrapper .icon span {
  width: 3rem;
  height: 3rem;
  display: block;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.footer .wrapper-container .wrapper .icon span i {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  color: var(--title-color);
  font-size: 25px;
  line-height: 60px;
}
.footer .wrapper-container .wrapper .icon:hover span i {
  color: var(--white-color);
}
.footer .wrapper-container .wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  background: var(--white-color);
  color: var(--white-color);
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper-container .wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.footer .wrapper-container .wrapper .icon .tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: var(--white-color);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper-container .wrapper .icon:hover span,
.footer .wrapper-container .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.footer .wrapper-container .wrapper .facebook:hover span,
.footer .wrapper-container .wrapper .facebook:hover .tooltip,
.footer .wrapper-container .wrapper .facebook:hover .tooltip::before {
  background: #3b5999;
}
.footer .wrapper-container .wrapper .twitter:hover span,
.footer .wrapper-container .wrapper .twitter:hover .tooltip,
.footer .wrapper-container .wrapper .twitter:hover .tooltip::before {
  background: #46c1f6;
}
.footer .wrapper-container .wrapper .github:hover span,
.footer .wrapper-container .wrapper .github:hover .tooltip,
.footer .wrapper-container .wrapper .github:hover .tooltip::before {
  background: var(--text-color);
}
.footer .wrapper-container .wrapper .youtube:hover span,
.footer .wrapper-container .wrapper .youtube:hover .tooltip,
.footer .wrapper-container .wrapper .youtube:hover .tooltip::before {
  background: #de463b;
}
.footer .wrapper-container .wrapper .instagram:hover span,
.footer .wrapper-container .wrapper .instagram:hover .tooltip,
.footer .wrapper-container .wrapper .instagram:hover .tooltip::before {
  background: #e1306c;
}
/* End icon social */
.footer .end {
  max-width: var(--width-home);
  margin: auto;
  margin-top: 40px;
  font-size: 14px;
  color: var(--title-color);
  justify-content: space-around;
  border-top: 1px solid;
}
.footer .end span {
  margin-left: 10px;
  color: var(--first-color);
  font-weight: bold;
  margin-right: 10px;
}
/* Scroll up */
.footer .scroll-up {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: var(--white-color);
  color: var(--first-color);
  display: inline-flex;
  padding: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}
.footer .scroll-up:hover {
  transform: translateY(-10px);
}
/* End Footer */
/* Responsive */
