/* Footer */

/* Start icon social */
.footer .wrapper-container .wrapper .icon:hover span,
.footer .wrapper-container .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

/* End icon social */

/* Scroll up */
.footer .scroll-up {
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}
/* End Footer */

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .footer {
    margin-bottom: 80px;
  }
  .footer .box-container {
    max-width: 300px;
    flex-direction: column;
  }
  .footer .box-container .box {
    margin: 10px;
  }
  .footer .wrapper-container .wrapper .icon .tooltip {
    display: none;
  }
  .footer .scroll-up {
    right: 5px;
    bottom: 95px;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .footer {
    margin-bottom: 80px;
  }
  .footer .box-container {
    max-width: 500px;
  }
  .footer .box-container .box {
    margin: 10px;
  }
  .footer .wrapper-container .wrapper .icon .tooltip {
    display: none;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .footer {
    margin-bottom: 80px;
  }
  .footer .box-container {
    max-width: 700px;
  }
  .footer .box-container .box {
    margin: 10px;
  }
  .footer .wrapper-container .wrapper .icon .tooltip {
    display: none;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .footer {
    margin-bottom: 80px;
  }
  .footer .box-container {
    max-width: 900px;
  }
  .footer .wrapper-container .wrapper .icon .tooltip {
    display: none;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .footer .box-container {
    max-width: 1200px;
  }
}
