.InputLogin {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: #e0e0e0;
  color: black;
  font-family: Arial, sans-serif;
}
