/* New Arrivals */
/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 300px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 300px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    left: 24%;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 500px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 500px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    left: 24%;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 700px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 700px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    left: 27%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 900px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 900px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    left: 32%;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-p2 .section-p2-container {
    max-width: 1200px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 1200px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    left: 23%;
  }
}
