/* New Arrivals */
/* Header */
/* Body */
/* Card */
.section-p2 .arrivals-container .arrivals .arrivals-box .arrivals-card {
  transition: transform 0.1s ease;
}

.section-p2
  .arrivals-container
  .arrivals
  .arrivals-box
  .arrivals-card:hover
  .arrivals-tag
  .Icon-Container {
  display: inline-flex !important;
}

.section-p2 .arrivals-container .arrivals .arrivals-box .arrivals-card:hover {
  transition: 0.1s ease;
}

/* Image */
.section-p2
  .arrivals-container
  .arrivals
  .arrivals-box
  .arrivals-card:hover
  .arrivals-img
  img {
  transform: scale(1.1);
}

/* Button Cart */
.section-p2
  .arrivals-container
  .arrivals
  .arrivals-box
  .arrivals-card
  .arrivals-tag
  .Arrivalcart-btn:hover
  i {
  left: 50%;
  color: var(--white-color);
}

.section-p2
  .arrivals-container
  .arrivals
  .arrivals-box
  .arrivals-card
  .arrivals-tag
  .Arrivalcart-btn:hover
  p {
  clip-path: circle(0px at 125px 27.5px);
}

/* Icon heart */
.section-p2
  .arrivals-container
  .arrivals
  .arrivals-box
  .arrivals-card
  .arrivals-tag
  .Icon-Container
  .HeartIcon.active {
  fill: red;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 300px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 300px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-img {
    width: 100px;
    height: 150px;
    margin-top: 40px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    top: 30%;
    left: 9%;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 500px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 500px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-img {
    width: 100px;
    height: 150px;
    margin-top: 40px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    top: 30%;
    left: 9%;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 700px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 700px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-img {
    width: 100px;
    height: 150px;
    margin-top: 40px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    top: 30%;
    left: 9%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-p2 .section-p2-container {
    max-width: 900px;
  }
  .section-p2 .section-p2-container h2 {
    font-size: 20px;
  }
  .section-p2 .section-p2-container h3 {
    font-size: 15px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 900px;
  }
  .section-p2 .arrivals-container .arrivals .arrivals-box {
    grid-template-columns: 1fr 1fr;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag {
    margin-left: 20px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-img {
    width: 100px;
    height: 150px;
    margin-top: 40px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-label {
    top: 30%;
    left: 20%;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-p2 .section-p2-container {
    max-width: 1200px;
  }
  .section-p2 .arrivals-container .arrivals {
    max-width: 1200px;
  }
  .section-p2
    .arrivals-container
    .arrivals
    .arrivals-box
    .arrivals-card
    .arrivals-tag
    .Icon-Container {
    display: flex;
  }
}
