/* Detail */
/* Header */
.section-detail {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-view);
}

.section-detail .section-detail-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}

.section-detail .section-detail-container .page-link {
  display: inline-block;
}

.section-detail .section-detail-container .page-link li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-detail .section-detail-container .page-link li a {
  color: var(--title-color);
}

.section-detail .section-detail-container .page-link li + li {
  margin-left: 10px;
}

.section-detail .section-detail-container .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

.section-detail .section-detail-container .page-link li a:hover {
  color: var(--first-color);
}

/* Body */
.section-detail .detail-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-detail .detail-container .detail {
  display: flex;
  max-width: var(--width-home);
  width: 100%;
  margin-top: 20px;
}

/* Left */
.section-detail .detail-container .detail .product-imgs {
  width: 50%;
  display: flex;
  justify-content: center;
}

.section-detail .detail-container .detail .product-imgs .img-display {
  width: 250px;
  height: 380px;
  cursor: pointer;
  box-shadow: 0 0 8px var(--title-color);
}

.section-detail .detail-container .detail .product-imgs .img-display img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

/* Right */
.section-detail .detail-container .detail .product-content {
  width: 50%;
}

.section-detail .detail-container .detail .product-content .product-title {
  display: flex;
  justify-content: space-between;
}

.section-detail .detail-container .detail .product-content .product-title h2 {
  font-size: 30px;
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--title-color);
  margin: 10px 0;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .product-title
  h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 50px;
  background: var(--first-color);
}

/* Icon heart */
.section-detail .detail-container .detail .product-content .product-title i {
  display: flex;
  color: var(--first-color);
  font-size: 20px;
  padding: 8px 8px;
  border: 1px solid var(--first-color);
  height: 38px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .product-title
  .HeartIcon.active {
  fill: red;
}

/* Rating */
.section-detail .detail-container .detail .product-content .product-rating {
  display: flex;
  align-items: center;
  color: var(--first-color);
  margin-bottom: 10px;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .product-rating
  span {
  margin: 4px 5px 0px;
  font-weight: 600;
}

/* Price */
.section-detail .detail-container .detail .product-content .product-price {
  display: flex;
}

.section-detail .detail-container .detail .product-content .product-price h3 {
  color: var(--title-color);
  font-size: 25px;
  font-weight: bold;
}

.section-detail .detail-container .detail .product-content .product-price h4 {
  text-decoration: line-through;
  margin-left: 6px;
  font-weight: normal;
  font-size: 25px;
  color: var(--text-color);
}

/* Description */
.section-detail .detail-container .detail .product-content .product-detail h2 {
  font-size: 25px;
  color: var(--title-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.section-detail .detail-container .detail .product-content .product-detail p {
  font-size: 15px;
  color: var(--title-color);
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-detail .detail-container .detail .product-content .product-detail ul {
  font-size: 15px;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .product-detail
  ul
  li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .product-detail
  ul
  li
  i {
  color: var(--first-color);
}

.section-detail
  .detail-container
  .detail
  .product-content
  .product-detail
  ul
  li
  span {
  font-weight: 400;
  margin-left: 10px;
}

/* Purchase */
.section-detail .detail-container .detail .product-content .purchase-info {
  margin-top: 10px;
  display: flex;
}

/* Quanity */
.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  input {
  font-size: 12px;
  color: var(--title-color);
  text-align: center;
  padding: 5px 5px;
  margin-right: 10px;
  border: 1px solid var(--title-color);
  border-radius: 20px;
  width: 60px;
}

/* Cart */
.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  .purchase-btn {
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 5px 5px;
  margin-right: 10px;
  border: 3px solid var(--first-color);
  border-radius: 20px;
  position: relative;
  color: var(--first-color);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  .purchase-btn
  i {
  font-size: 12px;
  position: absolute;
  top: 48.5%;
  left: 15%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}

.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  .purchase-btn
  .add-cart {
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
  transition: 0.25s;
  color: var(--first-color);
}

.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  .purchase-btn:hover {
  cursor: pointer;
  background: var(--first-color);
}

.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  .purchase-btn:hover
  i {
  left: 50%;
  color: var(--white-color);
}

.section-detail
  .detail-container
  .detail
  .product-content
  .purchase-info
  .purchase-btn:hover
  p {
  clip-path: circle(0px at 125px 27.5px);
}

.section-detail .product-view-info {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}

/* Information */
.section-detail .product-view-info .product-view-content-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  margin-top: 100px;
}

/* Table */
.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-tab-content-additional {
  border-bottom: 1px solid #c1c1c1;
}

.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-tab-content-additional
  .data-table {
  border: none;
  box-shadow: none;
  width: 50%;
  margin: 10px 0;
  color: var(--title-color);
}

.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-tab-content-additional
  .data-table
  tbody
  th,
.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-tab-content-additional
  .data-table
  tbody
  td {
  font-size: 15px;
  border: none;
  padding: 5px;
}

.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-tab-content-additional
  .data-table
  tbody
  tr
  .table-label {
  display: table-cell;
  padding-left: 0 !important;
  line-height: 1.6;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: normal;
}

.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-description
  h1 {
  font-size: 20px;
  color: var(--title-color);
  font-weight: 700;
  margin-top: 10px;
}

.section-detail
  .product-view-info
  .product-view-tab-content-ad
  .product-view-description
  p {
  font-size: 15px;
  color: var(--title-color);
  margin-top: 10px;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-detail .section-detail-container {
    max-width: 300px;
  }
  .section-detail .detail-container .detail {
    max-width: 300px;
    flex-direction: column;
  }
  .section-detail .detail-container .detail .product-imgs {
    width: 100%;
  }
  .section-detail .detail-container .detail .product-content {
    width: 100%;
  }
  .section-detail .product-view-info {
    max-width: 300px;
  }
  .section-detail
    .product-view-info
    .product-view-tab-content-ad
    .product-view-tab-content-additional
    .data-table {
    width: 100%;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-detail .section-detail-container {
    max-width: 500px;
  }
  .section-detail .detail-container .detail {
    max-width: 500px;
    flex-direction: column;
  }
  .section-detail .detail-container .detail .product-imgs {
    width: 100%;
  }
  .section-detail .detail-container .detail .product-content {
    width: 100%;
  }
  .section-detail .product-view-info {
    max-width: 500px;
  }
  .section-detail
    .product-view-info
    .product-view-tab-content-ad
    .product-view-tab-content-additional
    .data-table {
    width: 100%;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-detail .section-detail-container {
    max-width: 700px;
  }
  .section-detail .detail-container .detail {
    max-width: 700px;
    flex-direction: column;
  }
  .section-detail .detail-container .detail .product-imgs {
    width: 100%;
  }
  .section-detail .detail-container .detail .product-content {
    width: 100%;
  }
  .section-detail .product-view-info {
    max-width: 700px;
  }
  .section-detail
    .product-view-info
    .product-view-tab-content-ad
    .product-view-tab-content-additional
    .data-table {
    width: 100%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-detail .section-detail-container {
    max-width: 900px;
  }
  .section-detail .detail-container .detail {
    max-width: 900px;
    flex-direction: column;
  }
  .section-detail .detail-container .detail .product-imgs {
    width: 100%;
  }
  .section-detail .detail-container .detail .product-content {
    width: 100%;
  }
  .section-detail .product-view-info {
    max-width: 900px;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-detail .section-detail-container {
    max-width: 1200px;
  }
  .section-detail .detail-container .detail {
    max-width: 1200px;
  }
  .section-detail .product-view-info {
    max-width: 1200px;
  }
}
