/* Start */
/* Image */
.newsletter .newsletter-container .newsletter-content .newsletter-left img {
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveDiagonal1 {
  0% {
    transform: translateX(1rem) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) translateX(20px) rotate(-10deg);
  }
  100% {
    transform: translateX(1rem) rotate(-10deg);
  }
}

@keyframes moveDiagonal2 {
  0% {
    transform: translateX(-1rem) rotate(10deg);
  }
  50% {
    transform: translateY(-20px) translateX(-20px) rotate(10deg);
  }
  100% {
    transform: translateX(-1rem) rotate(10deg);
  }
}

.newsletter
  .newsletter-container
  .newsletter-content
  .newsletter-left
  .newsletter-img-1 {
  animation: moveDiagonal1 2s infinite alternate;
}

.newsletter
  .newsletter-container
  .newsletter-content
  .newsletter-left
  .newsletter-img-2 {
  animation: moveDiagonal2 2s infinite alternate;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .newsletter .newsletter-container {
    max-width: 300px;
  }
  .newsletter .newsletter-container .newsletter-content {
    flex-direction: column;
  }
  .newsletter .newsletter-container .newsletter-content .newsletter-left {
    width: 170px;
    justify-content: center;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .newsletter-heading {
    text-align: center;
    font-size: 20px;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .subscribe-button {
    display: flex;
    margin: auto;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .email-input {
    width: 300px;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .newsletter .newsletter-container {
    max-width: 500px;
  }
  .newsletter .newsletter-container .newsletter-content {
    flex-direction: column;
  }
  .newsletter .newsletter-container .newsletter-content .newsletter-left {
    width: 200px;
    justify-content: center;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .newsletter-heading {
    text-align: center;
    font-size: 20px;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .subscribe-button {
    display: flex;
    margin: auto;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .newsletter .newsletter-container {
    max-width: 700px;
  }
  .newsletter .newsletter-container .newsletter-content {
    flex-direction: column;
  }
  .newsletter .newsletter-container .newsletter-content .newsletter-left {
    width: 300px;
    justify-content: center;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .newsletter-heading {
    text-align: center;
    font-size: 20px;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .subscribe-button {
    display: flex;
    margin: auto;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .newsletter .newsletter-container {
    max-width: 900px;
  }
  .newsletter .newsletter-container .newsletter-content {
    flex-direction: column;
  }
  .newsletter .newsletter-container .newsletter-content .newsletter-left {
    width: 400px;
    justify-content: center;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .newsletter-heading {
    text-align: center;
    font-size: 20px;
  }
  .newsletter
    .newsletter-container
    .newsletter-content
    .newsletter-right
    .subscribe-button {
    display: flex;
    margin: auto;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .newsletter .newsletter-container {
    max-width: 1200px;
  }
}
