.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login
  div:first-child {
  display: flex;
}

/* Show and hide password */
.pd-right {
  padding-right: 56px !important ;
}

.toggle-password > * {
  width: 20px;
  height: 20px;
  color: #555;
}

/* Responsive */
/*  */
@media (max-width: calc(576px - 1px)) {
  .form-container-login .overlay-container .overlay {
    flex-direction: column;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-left
    img {
    width: 100%;
    height: 500px !important;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-right
    .from-login
    i {
    font-size: 50px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: var(--border-color);
  }
}

/*  */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .form-container-login .overlay-container .overlay {
    flex-direction: column;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-left
    img {
    width: 100%;
    height: 500px !important;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-right
    .from-login
    i {
    font-size: 50px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: var(--border-color);
  }
}

/*  */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .form-container-login .overlay-container .overlay {
    flex-direction: column;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-left
    img {
    width: 100%;
    height: 500px !important;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-right
    .from-login
    i {
    font-size: 50px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: var(--border-color);
  }
}

/*  */

@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .form-container-login .overlay-container .overlay {
    flex-direction: column;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-left
    img {
    width: 100%;
    height: 500px !important;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-right
    .from-login
    i {
    font-size: 50px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: var(--border-color);
  }
}

/*  */
@media (min-width: 1200px) and (max-width: 1300px) {
  .form-container-login .overlay-container .overlay {
    flex-direction: column;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-left
    img {
    width: 100%;
    height: 500px !important;
  }
  .form-container-login
    .overlay-container
    .overlay
    .overlay-panel-overlay-right
    .from-login
    i {
    font-size: 50px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: var(--border-color);
  }
}
