/* Main container */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner-container .banner {
  max-width: var(--width-home);
  width: 100%;
}

.banner-container .banner div:first-child {
  display: flex;
}

.banner-container .banner .banner-tag {
  flex-direction: column;
  font-weight: bold;
  margin-right: 20px;
}

.banner-container .banner .banner-tag h1 {
  font-size: var(--h1);
  color: var(--title-color);
  font-family: sans-serif;
}

.banner-container .banner .banner-tag h1 span {
  color: var(--first-color);
  flex-direction: none;
}

.banner-container .banner .banner-tag p {
  font-size: var(--p);
  width: 650px;
  text-align: justify;
  line-height: 22px;
  color: var(--text-color);
  font-family: sans-serif;
}

.banner-container .banner .banner-tag .banner-btn {
  margin-top: 40px;
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--first-color);
  width: 140px;
  transition: box-shadow 0.4s;
  font-size: 16px;
}

.banner-container .banner .banner-tag .banner-btn:hover {
  box-shadow: 0 4px 32px var(--first-color);
}
