/* Main container */
/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .banner-container .banner {
    max-width: 350px;
  }
  .banner-container .banner > div {
    flex-direction: column;
    margin-top: 0px;
  }
  .banner-container .banner .banner-tag {
    display: flex;
    align-items: center;
    margin-right: 0 !important;
  }
  .banner-container .banner .banner-tag h1 {
    font-size: 30px;
  }
  .banner-container .banner .banner-tag h1 span {
    font-size: 30px;
  }
  .banner-container .banner .banner-tag p {
    font-size: 15px;
    width: 200px;
    text-align: center;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .banner-container .banner {
    max-width: 500px;
  }
  .banner-container .banner > div {
    flex-direction: column;
    margin-top: 0px;
  }
  .banner-container .banner .banner-tag {
    display: flex;
    align-items: center;
    margin-right: 0 !important;
  }
  .banner-container .banner .banner-tag h1 {
    font-size: 30px;
  }
  .banner-container .banner .banner-tag h1 span {
    font-size: 30px;
  }
  .banner-container .banner .banner-tag p {
    font-size: 15px;
    width: 350px;
    text-align: center;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .banner-container .banner {
    max-width: 700px;
  }
  .banner-container .banner > div {
    flex-direction: column;
    margin-top: 0px;
  }
  .banner-container .banner .banner-tag {
    display: flex;
    align-items: center;
    margin-right: 0 !important;
  }
  .banner-container .banner .banner-tag p {
    text-align: center;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .banner-container .banner {
    max-width: 900px;
  }
  .banner-container .banner > div {
    flex-direction: column;
    margin-top: 200px;
  }
  .banner-container .banner .banner-tag {
    display: flex;
    align-items: center;
    margin-right: 0 !important;
  }
  .banner-container .banner .banner-tag p {
    text-align: center;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .banner-container .banner {
    max-width: 1200px;
  }
}
