/* Start */
.template-card {
  transition: transform 0.1s ease;
}

.template-card:hover .template-tag .Icon-Container {
  display: inline-flex !important;
}

.template-card:hover {
  transition: 0.1s ease;
}

/* Image */
.template-card:hover .template-img img {
  transform: scale(1.1);
}

/* Button cart */
.template-card .template-tag .template-btn:hover i {
  left: 50%;
  color: var(--white-color);
}

.template-card .template-tag .template-btn:hover p {
  clip-path: circle(0px at 125px 27.5px);
}

/* Icon heart */
.template-card .template-tag .Icon-Container .HeartIcon.active {
  fill: red;
}
/* End*/

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .template-card .template-tag .Icon-Container {
    display: flex;
  }
  .template-card .template-label {
    left: 25%;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .template-card .template-tag .Icon-Container {
    display: flex;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .template-card .template-tag .Icon-Container {
    display: flex;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .template-card .template-tag .Icon-Container {
    display: flex;
  }
  .template-card .template-label {
    left: 33%;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .template-card .template-tag .Icon-Container {
    display: flex;
  }
  .template-card .template-label {
    left: 23%;
  }
}
