/* Slider */
.slick-slide > div {
  margin: 0 15px !important;
}

.slick-list {
  margin: 0 -15px !important;
}

.section-p1 .best-seller-container .best-seller .slick-arrow:before {
  display: none;
}

.section-p1 .best-seller-container .best-seller .slick-arrow {
  width: 50px;
  height: 50px;
  font-size: 50px !important;
  color: var(--first-color) !important;
  position: absolute;
}

.section-p1 .best-seller-container .best-seller .slick-next {
  right: 5px;
}

.section-p1 .best-seller-container .best-seller .slick-prev {
  left: 5px;
  z-index: 1;
}

.section-p1 .best-seller-container .best-seller .slick-next:before,
.section-p1 .best-seller-container .best-seller .slick-prev:before {
  content: "" !important;
}

/* Best seller */
/* Header */
.section-p1
  .best-seller-container
  .best-seller
  .best-seller-box
  .best-seller-card
  .best-seller-tag
  .Sellercart-btn:hover
  p {
  clip-path: circle(0px at 125px 27.5px);
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-p1 .section-p1-container {
    max-width: 300px;
  }
  .section-p1 .section-p1-container h2 {
    font-size: 20px;
  }
  .section-p1 .section-p1-container h3 {
    font-size: 15px;
  }
  .section-p1 .best-seller-container .best-seller {
    max-width: 300px;
  }
  .section-p1 .best-seller-container .best-seller .slick-next {
    display: none;
  }

  .section-p1 .best-seller-container .best-seller .slick-prev {
    display: none;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-tag
    .Icon-Container {
    display: flex;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-label {
    left: 24%;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-p1 .section-p1-container {
    max-width: 500px;
  }
  .section-p1 .section-p1-container h2 {
    font-size: 20px;
  }
  .section-p1 .section-p1-container h3 {
    font-size: 15px;
  }
  .section-p1 .best-seller-container .best-seller {
    max-width: 500px;
  }
  .section-p1 .best-seller-container .best-seller .slick-next {
    display: none;
  }
  .section-p1 .best-seller-container .best-seller .slick-prev {
    display: none;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-tag
    .Icon-Container {
    display: flex;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-label {
    left: 24%;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-p1 .section-p1-container {
    max-width: 700px;
  }
  .section-p1 .section-p1-container h2 {
    font-size: 20px;
  }
  .section-p1 .section-p1-container h3 {
    font-size: 15px;
  }
  .section-p1 .best-seller-container .best-seller {
    max-width: 700px;
  }
  .section-p1 .best-seller-container .best-seller .slick-next {
    display: none;
  }
  .section-p1 .best-seller-container .best-seller .slick-prev {
    display: none;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-tag
    .Icon-Container {
    display: flex;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-label {
    left: 27%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-p1 .section-p1-container {
    max-width: 900px;
  }
  .section-p1 .best-seller-container .best-seller {
    max-width: 900px;
  }
  .section-p1 .best-seller-container .best-seller .slick-next {
    display: none;
  }
  .section-p1 .best-seller-container .best-seller .slick-prev {
    display: none;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-label {
    left: 32%;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-tag
    .Icon-Container {
    display: flex;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-p1 .section-p1-container {
    max-width: 1200px;
  }
  .section-p1 .best-seller-container .best-seller {
    max-width: 1200px;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-tag
    .Icon-Container {
    display: flex;
  }
  .section-p1
    .best-seller-container
    .best-seller
    .best-seller-box
    .best-seller-card
    .best-seller-label {
    left: 23%;
  }
}
