/* Cart */
/* Header */
.section-check .section-check-container .page-link li + li {
  margin-left: 10px;
}

.section-check .section-check-container .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

/* Order details */
.order-details .order-submit {
  display: block;
  margin-top: 30px;
}

/* Responsive */
/* Base styles for the form group containing selects */
.section-check .section .container .row .col-md-7 .form-group.flex.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.section-check
  .section
  .container
  .row
  .col-md-7
  .form-group.flex.flex-wrap
  .field-container {
  flex: 1 1 calc(33.33% - 6.67px);
  min-width: 0;
}

.section-check
  .section
  .container
  .row
  .col-md-7
  .form-group.flex.flex-wrap
  .field-container
  select {
  width: 100%;
}

/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-check .section-check-container {
    max-width: 300px;
  }
  .section-check .section .container {
    max-width: 300px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-7 .form-group {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 .form-group .input {
    height: 40px;
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group
    .input:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
  .section-check
    .section
    .container
    .row
    .order-details
    .order-summary
    .link-prod {
    display: inline-block;
    max-width: 64px;
    max-height: 100px;
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group.flex.flex-wrap
    .field-container {
    width: 100%;
  }
  .recommendations {
    max-width: 300px;
    display: block !important;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-check .section-check-container {
    max-width: 500px;
  }
  .section-check .section .container {
    max-width: 500px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-7 .form-group {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 .form-group .input {
    height: 40px;
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group
    .input:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
  .section-check
    .section
    .container
    .row
    .order-details
    .order-summary
    .order-products
    .order-col
    div
    .link-prod {
    display: inline-block;
    max-width: 64px;
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group.flex.flex-wrap
    .field-container {
    width: calc(50% - 5px);
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group.flex.flex-wrap
    .field-container:last-child {
    width: 100%;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-check .section-check-container {
    max-width: 700px;
  }
  .section-check .section .container {
    max-width: 700px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-7 .form-group {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 .form-group .input {
    height: 40px;
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group
    .input:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
  .section-check
    .section
    .container
    .row
    .col-md-7
    .form-group.flex.flex-wrap
    .field-container {
    width: 100%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-check .section-check-container {
    max-width: 900px;
  }
  .section-check .section .container {
    max-width: 900px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-check .section-check-container {
    max-width: 1200px;
  }
  .section-check .section .container {
    max-width: 1200px;
  }
}
