/* Cart */
/* Header */
.section-check {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-view);
}

.section-check .section-check-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}

.section-check .section-check-container .page-link {
  display: inline-block;
}

.section-check .section-check-container .page-link li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-check .section-check-container .page-link li a {
  color: var(--title-color);
}

.section-check .section-check-container .page-link li + li {
  margin-left: 10px;
}

.section-check .section-check-container .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

.section-check .section-check-container .page-link li a:hover {
  color: var(--first-color);
}

/* Body */

.section-check .section {
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-check .section .container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}

.section-check .section .container .row {
  display: flex;
}

.section-check .section .container .row .col-md-7 {
  width: 58.33333333%;
  margin-right: 10px;
}

.section-title {
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;
}

.section-title .title {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
}

.input {
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  height: 40px;
  padding: 0 15px;
  width: 100%;
  color: var(--title-color);
  border-radius: 5px;
}

textarea.input {
  min-height: 90px;
  padding: 15px;
}

/* Order details */
.section-check .section .container .row .col-md-5 {
  width: 41.66666667%;
}

.section-check .section .container .row .order-details {
  border-bottom: 1px solid var(--text-color);
  padding: 0 30px 30px;
  position: relative;
}

.section-check .section .container .row .order-details::before {
  border-top: 1px solid var(--text-color);
  content: "";
  height: 30px;
  left: -1px;
  position: absolute;
  right: -1px;
  top: -15px;
}

.section-check .section .container .row .order-details,
.section-check .section .container .row .order-details::before {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.order-summary {
  margin: 20px 0;
  color: var(--title-color);
}

.section-check
  .section
  .container
  .row
  .order-details
  .order-summary
  .order-products
  .order-col
  div
  .link-prod
  img {
  width: 100%;
  height: auto;
}

.order-details .order-col {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.order-summary .order-col .order-total {
  color: var(--first-color);
  font-size: 24px;
}

.order-details .payment-method {
  margin: 30px 0;
  color: var(--title-color);
}

.input-checkbox label,
.input-radio label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 5px;
  min-height: 20px;
  padding-left: 10px;
}

.input-radio .caption {
  margin-top: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.input-checkbox label {
  color: var(--title-color);
}

.order-details .order-submit {
  display: block;
  margin-top: 30px;
}
.primary-btn {
  background-color: var(--first-color);
  border: none;
  border-radius: 40px;
  color: var(--white-color);
  display: inline-block;
  font-weight: 700;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-check .section-check-container {
    max-width: 300px;
  }
  .section-check .section .container {
    max-width: 300px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }

  .section-check
    .section
    .container
    .row
    .order-details
    .order-summary
    .order-products
    .order-col
    div
    .link-prod {
    display: inline-block;
    max-width: 64px;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-check .section-check-container {
    max-width: 500px;
  }
  .section-check .section .container {
    max-width: 500px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
  .section-check
    .section
    .container
    .row
    .order-details
    .order-summary
    .order-products
    .order-col
    div
    .link-prod {
    display: inline-block;
    max-width: 64px;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-check .section-check-container {
    max-width: 700px;
  }
  .section-check .section .container {
    max-width: 700px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-check .section-check-container {
    max-width: 900px;
  }
  .section-check .section .container {
    max-width: 900px;
    flex-direction: column;
  }
  .section-check .section .container .row {
    flex-direction: column;
  }
  .section-check .section .container .row .col-md-7 {
    width: 100%;
  }
  .section-check .section .container .row .col-md-5 {
    margin-top: 20px;
    width: 100%;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-check .section-check-container {
    max-width: 1200px;
  }
  .section-check .section .container {
    max-width: 1200px;
  }
}
