/* Wish List */
/* Header */
.section-wish-list {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-view);
}

.section-wish-list .section-wish-list-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}

.section-wish-list .section-wish-list-container h2 {
  font-size: 25px;
  color: var(--title-color);
  font-weight: bold;
  font-style: normal;
}

.section-wish-list .wish-list-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-wish-list .wish-list-container .wish-list {
  max-width: var(--width-home);
  width: 100%;
}

/* Card */
.section-wish-list .wish-list-container .wish-list .wish-list-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

/* End */
