/* Cart */
/* Header */
.section-cart .section-cart-container .page-link li + li {
  margin-left: 10px;
}

.section-cart .section-cart-container .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

/* Body */
.section-cart .cart-container .table-container .table-cart tr th:nth-child(1),
.section-cart .cart-container .table-container .table-cart tr td:nth-child(1) {
  width: 216px;
}

.section-cart .cart-container .table-container .table-cart tr th:nth-child(2),
.section-cart .cart-container .table-container .table-cart tr td:nth-child(2) {
  width: 400px;
}

.section-cart .cart-container .table-container .table-cart tr th:nth-child(2),
.section-cart .cart-container .table-container .table-cart tr td:nth-child(2) {
  width: 400px;
}
