/* Book List */
.section-p3 {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top);
}
.section-p3 .section-p3-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section-p3 .section-p3-container h2 {
  font-size: var(--h2);
  color: var(--black);
  font-weight: bold;
}
.section-p3 .section-p3-container h3 {
  font-size: var(--h3);
  margin-top: 10px;
  color: var(--orange);
}
.section-p3 .section-p3-container h3:hover {
  color: var(--blue);
}

.section-p3 .section1-p3-container {
  display: flex;
}
.section-p3 .section1-p3-container .p3-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}
.section-p3 .section1-p3-container .p3-container .p3-list {
  display: flex;
  margin-top: var(--margin-top-font);
}
.section-p3 .section1-p3-container .p3-container .p3-list li {
  margin-right: 18px;
  position: relative;
  transition: 0.4s;
}
.section-p3 .section1-p3-container .p3-container .p3-list li::before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
  width: 60%;
  transition: 0.3s;
}
.section-p3 .section1-p3-container .p3-container .p3-list li h3 {
  color: var(--light-color);
  cursor: pointer;
  font-size: var(--h3);
  font-weight: bold;
}
.section-p3 .section1-p3-container .p3-container .p3-list li:hover h3 {
  color: var(--blue);
}

.discount-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.discount-container .discount {
  max-width: var(--width-home);
  width: 100%;
}

.discount-container .discount .discount-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.discount-container .discount .discount-box .discount-card {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 16px;
  background-color: var(--white);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.discount-container
  .discount
  .discount-box
  .discount-card:hover
  .Icon-Container {
  display: inline-flex !important;
}
/*  */
.discount-container .discount .discount-box .discount-card:hover {
  transition: 0.1s ease;
  border-color: var(--black);
}
.discount-container .discount .discount-box .discount-card .discount-img {
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 0 8px var(--black);
  overflow: hidden;
}
.discount-container .discount .discount-box .discount-card .discount-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}
.discount-container
  .discount
  .discount-box
  .discount-card:hover
  .discount-img
  img {
  transform: scale(1.1);
}
.discount-container .discount .discount-box .discount-card .discount-tag h2 {
  margin: 12px 0px 12px 0px;
  color: var(--black);
  font-weight: bold;
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountwriter {
  color: var(--light-color);
}

.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcategories {
  color: var(--light-blue);
  margin-top: 8px;
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountbook-price {
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--black);
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountbook-price
  sub {
  font-weight: 100;
  padding: 0 5px;
  color: var(--black);
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn {
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 4px 10px;
  border: 3px solid var(--blue);
  border-radius: 5px;
  position: relative;
  color: var(--blue);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn
  i {
  font-size: 12px;
  position: absolute;
  top: 48.5%;
  left: 20%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn
  p,
.cart-btn:focus {
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
  transition: 0.25s;
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn:hover {
  cursor: pointer;
  background: var(--blue);
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn:hover
  i {
  left: 50%;
  color: var(--white);
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn:hover
  p {
  clip-path: circle(0px at 125px 27.5px);
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Icon-Container {
  color: var(--black);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}
.discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Icon-Container
  i {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* End Book List */
.HeartIcon.active {
  fill: red;
}
