/* Slider */
.slick-slide > div {
  margin: 0 15px !important;
}

.slick-list {
  margin: 0 -15px !important;
}

.section-p3 .discount-container .discount .slick-arrow:before {
  display: none;
}

.section-p3 .discount-container .discount .slick-arrow {
  width: 50px;
  height: 50px;
  font-size: 50px !important;
  color: var(--first-color) !important;
  position: absolute;
}

.section-p3 .discount-container .discount .slick-next {
  right: 5px;
}

.section-p3 .discount-container .discount .slick-prev {
  left: 5px;
  z-index: 1;
}

.section-p3 .discount-container .discount .slick-next:before,
.section-p3 .discount-container .discount .slick-prev:before {
  content: "" !important;
}

/* Book List */
/* Header */
.section-p3 {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top);
}

.section-p3 .section-p3-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.section-p3 .section-p3-container h2 {
  font-size: var(--h2);
  color: var(--title-color);
  font-weight: bold;
}

.section-p3 .section-p3-container h3 {
  font-size: var(--h3);
  margin-top: 5px;
  color: var(--text-color);
}

.section-p3 .section-p3-container h3:hover {
  color: var(--first-color);
}

.section-p3 .section1-p3-container {
  display: flex;
}

.section-p3 .section1-p3-container .p3-container {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
}

.section-p3 .section1-p3-container .p3-container .p3-list {
  display: flex;
  margin-top: var(--margin-top-font);
}

.section-p3 .section1-p3-container .p3-container .p3-list li {
  margin-right: 18px;
  position: relative;
  transition: 0.4s;
}

.section-p3 .section1-p3-container .p3-container .p3-list li::before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--first-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.section-p3
  .section1-p3-container
  .p3-container
  .p3-list
  .active.nav-discount::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--first-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
  width: 100%;
  transition: 0.3s;
}

.section-p3
  .section1-p3-container
  .p3-container
  .p3-list
  .nav-discount.active
  h3 {
  color: var(--first-color);
}

.section-p3 .section1-p3-container .p3-container .p3-list li h3 {
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--h3);
  font-weight: bold;
}

.section-p3 .section1-p3-container .p3-container .p3-list li:hover h3 {
  color: var(--first-color);
}

/* Body */
.section-p3 .discount-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-p3 .discount-container .discount {
  max-width: var(--width-home);
  width: 100%;
}

/* Card */
.section-p3 .discount-container .discount .discount-box .discount-card {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 16px;
  background-color: var(--card-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card:hover
  .discount-tag
  .Icon-Container {
  display: inline-flex !important;
}

.section-p3 .discount-container .discount .discount-box .discount-card:hover {
  transition: 0.1s ease;
  border-color: var(--first-color);
}

/* Label New */
.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-label {
  position: absolute;
  top: 10%; /* căn theo chiều dọc */
  left: 27%; /* căn theo chiều ngang */
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: var(--first-color);
  border-radius: 5px;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-label
  > span {
  font-size: 12px;
  padding: 2px 10px;
}

/* Image */
.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-img {
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 0 8px var(--title-color);
  overflow: hidden;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-img
  img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card:hover
  .discount-img
  img {
  transform: scale(1.1);
}

/* Tag */
.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  h2 {
  margin: 12px 0px 12px 0px;
  color: var(--title-color);
  font-weight: bold;
  font-size: 16px;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountwriter {
  color: var(--text-color);
  font-size: 16px;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcategories {
  color: var(--second-color);
  margin-top: 8px;
  font-size: 16px;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountbook-price {
  margin-top: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountbook-price
  h3 {
  color: var(--title-color);
  font-size: 16px;
  font-weight: bold;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountbook-price
  h4 {
  text-decoration: line-through;
  margin-left: 6px;
  font-weight: normal;
  font-size: 16px;
  color: var(--title-color);
}

/* Label New */
.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountbook-price
  span {
  font-size: 14px;
  border: 1px solid;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 6px;
}

/* Button Cart */
.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn {
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 5px 5px;
  border: 3px solid var(--first-color);
  border-radius: 5px;
  position: relative;
  color: var(--first-color);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn
  i {
  font-size: 12px;
  position: absolute;
  top: 48.5%;
  left: 15%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn
  .add-cart {
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
  transition: 0.25s;
  color: var(--first-color);
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn:hover {
  cursor: pointer;
  background: var(--first-color);
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn:hover
  i {
  left: 50%;
  color: var(--white-color);
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Discountcart-btn:hover
  p {
  clip-path: circle(0px at 125px 27.5px);
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Icon-Container {
  color: var(--first-color);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}

.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Icon-Container
  i {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Icon heart */
.section-p3
  .discount-container
  .discount
  .discount-box
  .discount-card
  .discount-tag
  .Icon-Container
  .HeartIcon.active {
  fill: red;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-p3 .section-p3-container {
    max-width: 300px;
  }
  .section-p3 .section-p3-container h2 {
    font-size: 20px;
  }
  .section-p3 .section-p3-container h3 {
    font-size: 15px;
  }
  .section-p3 .section1-p3-container .p3-container {
    max-width: 300px;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li {
    margin-right: 10px;
  }
  .section-p3
    .section1-p3-container
    .p3-container
    .p3-list
    .active.nav-discount::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li h3 {
    font-size: 15px;
  }
  .section-p3 .discount-container .discount {
    max-width: 300px;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-tag
    .Icon-Container {
    display: flex;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-label {
    left: 24%;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-p3 .section-p3-container {
    max-width: 500px;
  }
  .section-p3 .section-p3-container h2 {
    font-size: 20px;
  }
  .section-p3 .section-p3-container h3 {
    font-size: 15px;
  }
  .section-p3 .section1-p3-container .p3-container {
    max-width: 500px;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li {
    margin-right: 10px;
  }
  .section-p3
    .section1-p3-container
    .p3-container
    .p3-list
    .active.nav-discount::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li h3 {
    font-size: 15px;
  }
  .section-p3 .discount-container .discount {
    max-width: 500px;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-tag
    .Icon-Container {
    display: flex;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-label {
    left: 24%;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-p3 .section-p3-container {
    max-width: 700px;
  }
  .section-p3 .section-p3-container h2 {
    font-size: 20px;
  }
  .section-p3 .section-p3-container h3 {
    font-size: 15px;
  }
  .section-p3 .section1-p3-container .p3-container {
    max-width: 700px;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li {
    margin-right: 10px;
  }
  .section-p3
    .section1-p3-container
    .p3-container
    .p3-list
    .active.nav-discount::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li h3 {
    font-size: 15px;
  }
  .section-p3 .discount-container .discount {
    max-width: 700px;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-tag
    .Icon-Container {
    display: flex;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-label {
    left: 27%;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-p3 .section-p3-container {
    max-width: 900px;
  }
  .section-p3 .section1-p3-container .p3-container {
    max-width: 900px;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li {
    margin-right: 10px;
  }
  .section-p3
    .section1-p3-container
    .p3-container
    .p3-list
    .active.nav-discount::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li:hover::before {
    display: none;
  }
  .section-p3 .section1-p3-container .p3-container .p3-list li h3 {
    font-size: 15px;
  }
  .section-p3 .discount-container .discount {
    max-width: 900px;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-tag
    .Icon-Container {
    display: flex;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-label {
    left: 32%;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-p3 .section-p3-container {
    max-width: 1200px;
  }
  .section-p3 .section1-p3-container .p3-container {
    max-width: 1200px;
  }
  .section-p3 .discount-container .discount {
    max-width: 1200px;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-label {
    left: 23%;
  }
  .section-p3
    .discount-container
    .discount
    .discount-box
    .discount-card
    .discount-tag
    .Icon-Container {
    display: flex;
  }
}
