.form-container-login {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f0f8ff;
}

.form-container-login .overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-login .overlay-container .overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.form-container-login .overlay-container .overlay .overlay-panel-overlay-left {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.form-container-login .overlay-container .overlay .overlay-panel-overlay-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f8ff;
}

.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login {
  max-width: 500px;
  padding: 40px;
  width: 100%;
  background-color: #f0f8ff;
}
.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login
  div:first-child {
  display: flex;
}
.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login
  .logo {
  margin: auto auto 20px auto;
  width: 140px !important;
  height: 140px !important;
  position: relative !important;
}
.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login
  h1,
p {
  color: #25244c;
}
.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login
  h1 {
  opacity: 0.7;
}
.form-container-login
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .from-login
  p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.infield {
  margin-bottom: 20px;
}

.email,
.password-field {
  margin-bottom: 10px;
  color: black;
  display: block;
  font-weight: bold;
}

input[type="email"]:hover,
input[type="password"]:hover {
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-checkbox {
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}
.RM {
  color: #9a8de5;
  font-size: 14px;
  font-weight: bold;
}

.btn-login {
  text-align: center;
  margin-bottom: 20px;
}

.btn-register {
  text-align: center;
  margin-top: 20px;
}

.btn-login button {
  padding: 12px 10px;
  border: none;
  background-color: #f06b4a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  outline: none;
}
.btn-register button {
  padding: 12px 10px;
  border: none;
  background-color: whitesmoke;
  color: #6653d3;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  outline: 1px solid #6653d3;
}

.btn-login button:hover {
  background-color: white;
  color: #f06b4a;
  outline: 1px solid #f06b4a;
}
.btn-register button:hover {
  background-color: #6653d3;
  outline-color: white;
  color: white;
}
