/* Best Seller*/
/* Header */
.section-p1-view {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-view);
}

.section-p1-view .section-p1-container-view {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}

.section-p1-view .section-p1-container-view .page-link {
  display: inline-block;
}

.section-p1-view .section-p1-container-view .page-link li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-p1-view .section-p1-container-view .page-link li a {
  color: var(--title-color);
}

.section-p1-view .section-p1-container-view .page-link li + li {
  margin-left: 10px;
}

.section-p1-view .section-p1-container-view .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

.section-p1-view .section-p1-container-view .page-link li a:hover {
  color: var(--first-color);
}

/* Body */
.section-p1-view .best-seller-container-view {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-p1-view .best-seller-container-view .best-seller-view {
  max-width: var(--width-home);
  width: 100%;
}

/* Card */
.section-p1-view
  .best-seller-container-view
  .best-seller-view
  .best-seller-box-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
