:root {
  /* Color */
  --white-color: hsl(0, 0%, 100%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --first-color: hsl(230, 62%, 56%);
  --second-color: #80bfff;
  --border-color: hsl(230, 50%, 90%);
  --card-color: hsl(230, 100%, 97%);
}
.form-container-register {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f0f8ff;
}

.form-container-register .overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-register .overlay-container .overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-left {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-color);
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register {
  max-width: 500px;
  padding: 40px;
  width: 100%;
  background-color: var(--card-color);
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  div:first-child {
  display: flex;
}
.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  i {
  display: flex;
  padding-bottom: 20px;
  margin: auto;
  font-size: 100px;
  color: var(--first-color);
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  h1 {
  color: var(--title-color);
  opacity: 0.7;
  font-size: 24px;
  margin-bottom: 20px;
}
.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .infield {
  margin-bottom: 20px;
}
.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .infield
  .name,
.email,
.password-field,
.confirm-password-field {
  margin-bottom: 10px;
  color: var(--title-color);
  display: block;
  font-weight: bold;
}

.form-checkbox {
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-color: var(--border-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .checkbox {
  margin-right: 10px;
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .RM {
  color: var(--first-color);
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .btn-register {
  text-align: center;
  margin-bottom: 20px;
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .btn-login {
  text-align: center;
  margin-top: 20px;
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .btn-register
  button {
  padding: 12px 10px;
  border: none;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  outline: none;
}
.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .btn-login
  button {
  padding: 12px 10px;
  border: none;
  background-color: var(--white-color);
  color: var(--second-color);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  outline: 1px solid var(--second-color);
}

.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .btn-register
  button:hover {
  background-color: var(--white-color);
  color: var(--first-color);
  outline: 1px solid var(--first-color);
}
.form-container-register
  .overlay-container
  .overlay
  .overlay-panel-overlay-right
  .form-register
  .btn-login
  button:hover {
  background-color: var(--second-color);
  outline-color: var(--white-color);
  color: var(--white-color);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal.show-modal {
  display: flex;
}

.modalContainer {
  animation: showModal 0.4s ease;
  border-radius: 5px;
  background: var(--white-color);
  width: 500px;
  height: 500px;
  margin: auto;
}
.modal-close i {
  display: flex;
  text-align: right;
  justify-content: right;
  cursor: pointer;
  color: var(--title-color);
  font-size: 35px;
  padding: 10px 10px;
}
.modalContainer h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--title-color);
  display: flex;
  text-align: center;
  justify-content: center;
}
.modalContainer h2 i {
  font-size: 30px;
  padding-right: 10px;
}
.modalContainer h1 {
  color: var(--title-color);
  padding: 10px;
}
.modalContainer p {
  color: var(--title-color);
  padding: 10px;
}

@keyframes showModal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
