/* New Arrivals */
/* Header */
.section-p2-view {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-view);
}

.section-p2-view .section-p2-container-view {
  max-width: var(--width-home);
  width: 100%;
  margin: auto;
  display: flex;
}

.section-p2-view .section-p2-container-view .page-link {
  display: inline-block;
}

.section-p2-view .section-p2-container-view .page-link li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-p2-view .section-p2-container-view .page-link li a {
  color: var(--title-color);
}

.section-p2-view .section-p2-container-view .page-link li + li {
  margin-left: 10px;
}

.section-p2-view .section-p2-container-view .page-link li + li::before {
  color: var(--title-color);
  content: "/";
  display: inline-block;
  margin-right: 10px;
}

.section-p2-view .section-p2-container-view .page-link li a:hover {
  color: var(--first-color);
}

/* Body */
.section-p2-view .arrivals-container-view {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-font);
}

.section-p2-view .arrivals-container-view .arrivals-view {
  max-width: var(--width-home);
  width: 100%;
}

/* Card */
.section-p2-view .arrivals-container-view .arrivals-view .arrivals-box-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
/* End */

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .section-p2-view {
    margin-top: 35px;
  }
  .section-p2-view .section-p2-container-view {
    max-width: 300px;
  }
  .section-p2-view .arrivals-container-view .arrivals-view {
    max-width: 300px;
    flex-direction: column;
  }
  .section-p2-view .arrivals-container-view .arrivals-view .arrivals-box-view {
    grid-template-columns: 1fr;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .section-p2-view {
    margin-top: 35px;
  }
  .section-p2-view .section-p2-container-view {
    max-width: 500px;
  }
  .section-p2-view .arrivals-container-view .arrivals-view {
    max-width: 500px;
    flex-direction: column;
  }
  .section-p2-view .arrivals-container-view .arrivals-view .arrivals-box-view {
    grid-template-columns: 1fr;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .section-p2-view {
    margin-top: 35px;
  }
  .section-p2-view .section-p2-container-view {
    max-width: 700px;
  }
  .section-p2-view .arrivals-container-view .arrivals-view {
    max-width: 700px;
    flex-direction: column;
  }
  .section-p2-view .arrivals-container-view .arrivals-view .arrivals-box-view {
    grid-template-columns: 1fr 1fr;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .section-p2-view {
    margin-top: 35px;
  }
  .section-p2-view .section-p2-container-view {
    max-width: 900px;
  }
  .section-p2-view .arrivals-container-view .arrivals-view {
    max-width: 900px;
    flex-direction: column;
  }
  .section-p2-view .arrivals-container-view .arrivals-view .arrivals-box-view {
    grid-template-columns: 1fr 1fr;
  }
}

/* 1300px */
@media (min-width: 1200px) and (max-width: 1300px) {
  .section-p2-view .section-p2-container-view {
    max-width: 1200px;
  }
  .section-p2-view .arrivals-container-view .arrivals-view {
    max-width: 1200px;
  }
}
