/* Navbar */
/* Menu */
.nav-main .nav-bar .nav-menu .nav-list .nav-item:hover .nav-link::before {
  width: 50%;
  transition: 0.3s;
}

/* active */
.nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link.active {
  color: var(--first-color);
  font-weight: bold;
}

.nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link.active::before {
  content: "";
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--first-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* Icon */

.nav-main .nav-bar .icons-list li {
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

/* Home Accounts */

.nav-main .nav-bar .icons-list .book-accounts-name .book-user-container {
  top: calc(100% + 10.5px);
}

.nav-main
  .nav-bar
  .icons-list
  .book-accounts-name
  .book-user-container
  .user-details
  p {
  -webkit-box-align: center;
}

/* Search */
.nav-main .nav-bar .icons-list .book-search .search-container {
  top: calc(100% + 10.5px);
}

/* Home Cart */
/* Dropdown modal cart */
.nav-main .nav-bar .icons-list .book-cart .cart-dropdown {
  top: calc(100% + 10.5px);
}

/* Active */
.active {
  display: block !important;
}

/* Responsive */
/* 576px - 1px */
@media (max-width: calc(576px - 1px)) {
  .nav-main .nav-bar {
    padding: 0px 15px;
  }
  .nav-main .nav-bar .logo {
    font-size: 35px;
  }
  .nav-main .nav-bar .nav-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--BG);
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item {
    padding: 7px 5px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link {
    font-size: 15px;
    padding: 0px 5px;
    display: flex;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link h1 {
    display: none;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link i {
    display: block;
    font-size: 20px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link::before {
    display: none;
  }
  .nav-main .nav-bar .icons-list {
    font-size: 20px;
    gap: 0px;
  }
  .nav-main .nav-bar .icons-list li {
    padding: 7px 8px;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name {
    order: 1;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .Vs-acc {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name h3 {
    display: none;
  }

  .nav-main .nav-bar .icons-list .book-search .search-container {
    right: -50px;
    min-width: 200px;
  }

  .nav-main
    .nav-bar
    .icons-list
    .book-search
    .search-container
    .search-form
    input[type="search"] {
    min-width: 200px;
  }
  .nav-main .nav-bar .icons-list .book-heart .count-wish {
    bottom: 17px;
    left: 18px;
    height: 17px;
    width: 17px;
  }
  .nav-main .nav-bar .icons-list .book-cart .count-cart {
    bottom: 17px;
    left: 18px;
    height: 17px;
    width: 17px;
  }
  .nav-main .nav-bar .icons-list .book-cart .book-cart-icon {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-cart .link-cart .book-cart-icon-mb {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-cart .cart-dropdown {
    display: none !important;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .book-user-container {
    right: 10px;
    width: 140px;
  }
}

/* 768px - 1px */
@media (min-width: 576px) and (max-width: calc(768px - 1px)) {
  .nav-main .nav-bar {
    padding: 0px 15px;
    max-width: 500px;
  }
  .nav-main .nav-bar .logo {
    font-size: 35px;
  }
  .nav-main .nav-bar .nav-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--BG);
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item {
    padding: 7px 5px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link {
    font-size: 15px;
    padding: 0px 5px;
    display: flex;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link h1 {
    display: none;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link i {
    display: block;
    font-size: 20px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link::before {
    display: none;
  }
  .nav-main .nav-bar .icons-list {
    font-size: 20px;
    gap: 0px;
  }
  .nav-main .nav-bar .icons-list li {
    padding: 7px 8px;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name {
    order: 1;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .Vs-acc {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name h3 {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-search .search-container {
    right: 0px;
    min-width: 200px;
  }

  .nav-main
    .nav-bar
    .icons-list
    .book-search
    .search-container
    .search-form
    input[type="search"] {
    min-width: 200px;
  }
  .nav-main .nav-bar .icons-list .book-heart .count-wish {
    bottom: 17px;
    left: 18px;
    height: 17px;
    width: 17px;
  }
  .nav-main .nav-bar .icons-list .book-cart .count-cart {
    bottom: 17px;
    left: 18px;
    height: 17px;
    width: 17px;
  }
  .nav-main .nav-bar .icons-list .book-cart .book-cart-icon {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-cart .link-cart .book-cart-icon-mb {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-cart .cart-dropdown {
    display: none !important;
  }
}

/* 992px - 1px */
@media (min-width: 768px) and (max-width: calc(992px - 1px)) {
  .nav-main .nav-bar {
    padding: 0px 15px;
    max-width: 700px;
  }
  .nav-main .nav-bar .logo {
    font-size: 45px;
  }
  .nav-main .nav-bar .nav-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--BG);
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item {
    padding: 7px 10px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link {
    font-size: 25px;
    padding: 0px 5px;
    display: flex;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link h1 {
    display: none;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link i {
    display: block;
    font-size: 40px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link::before {
    display: none;
  }
  .nav-main .nav-bar .icons-list {
    font-size: 30px;
    gap: 5px;
  }
  .nav-main .nav-bar .icons-list li {
    padding: 7px 10px;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name {
    order: 1;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .Vs-acc {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name h3 {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-heart .count-wish {
    bottom: 20px;
    left: 25px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 13px;
  }
  .nav-main .nav-bar .icons-list .book-cart .count-cart {
    bottom: 20px;
    left: 25px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 13px;
  }
  .nav-main .nav-bar .icons-list .book-cart .book-cart-icon {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-cart .link-cart .book-cart-icon-mb {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-cart .cart-dropdown {
    display: none !important;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .book-user-container {
    right: 10px;
    width: 140px;
  }
}

/* 1200px - 1px */
@media (min-width: 992px) and (max-width: calc(1200px - 1px)) {
  .nav-main .nav-bar {
    padding: 0px 20px;
    max-width: 900px;
  }
  .nav-main .nav-bar .logo {
    font-size: 50px;
  }
  .nav-main .nav-bar .nav-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--BG);
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item {
    padding: 7px 20px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link {
    font-size: 30px;
    padding: 0px 5px;
    display: flex;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link h1 {
    display: none;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link i {
    display: block;
    font-size: 30px;
  }
  .nav-main .nav-bar .nav-menu .nav-list .nav-item .nav-link::before {
    display: none;
  }
  .nav-main .nav-bar .icons-list {
    font-size: 30px;
    gap: 0px;
  }
  .nav-main .nav-bar .icons-list li {
    padding: 7px 15px;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name {
    order: 1;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .Vs-acc {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name h3 {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-search .search-container {
    right: 0px;
    min-width: 200px;
  }

  .nav-main
    .nav-bar
    .icons-list
    .book-search
    .search-container
    .search-form
    input[type="search"] {
    min-width: 200px;
  }
  .nav-main .nav-bar .icons-list .book-heart .count-wish {
    bottom: 20px;
    left: 30px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 15px;
  }
  .nav-main .nav-bar .icons-list .book-cart .count-cart {
    bottom: 20px;
    left: 30px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 15px;
  }
  .nav-main .nav-bar .icons-list .book-cart .book-cart-icon {
    display: none;
  }
  .nav-main .nav-bar .icons-list .book-cart .link-cart .book-cart-icon-mb {
    display: block;
  }
  .nav-main .nav-bar .icons-list .book-cart .cart-dropdown {
    display: none !important;
  }
  .nav-main .nav-bar .icons-list .book-accounts-name .book-user-container {
    right: 10px;
    width: 140px;
  }
}
